@import 'bpmn-js/dist/assets/diagram-js.css'; // 基础样式
@import 'bpmn-js/dist/assets/bpmn-font/css/bpmn.css'; // 节点基础图标
@import 'bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css'; // 节点完整图标

.designer {
  flex: 1;
}

// 修复选中时填充色
.layer-selectionOutline {
  fill: none;
}
