.toolbar {
  width: 100%;
  height: min-content;
  box-sizing: border-box;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  > div[class^='n-button'] + div[class^='n-button'] {
    margin-left: 16px;
  }
}

.button-list_column {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  padding: 8px 0;
}

.preview-model {
  width: 64vw;
  height: 64vh;
  overflow-y: auto;
  .preview-model-content {
    word-break: break-word;
    white-space: pre-wrap;
  }
}

/* 修改弹窗宽度 */
.n-dialog.n-modal {
  width: auto;
}
